<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>
        Hello, {{name}}!
    </h1>

    <h2>Confirm</h2>

    <p>An e-mail has been sent to your address: {{ email }} <br></p>

    <p>Either click the link in the email, or enter the code below:</p>

    <form method="POST" action=".">
        {% csrf_token %}
        <input name="code"
               type="text"
               class="form-control"
               autofocus
               required
                >
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>