<html>
<head>
    {% load staticfiles %}
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <form method="POST" action="." class="form-signin">
        {% csrf_token %}

        <h1> Welcome to the Authenticator!</h1>

        {% if messages %}
        <ul class="messages ">
            {% for message in messages %}
            <li
            {% if message.tags %} class="bg-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h2 class="form-signin-heading">Please sign in</h2>
        <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <p>No account? <a href="{% url 'login.views.user_register' %}">Register!</a></p>
</div>
</body>
</html>